*.txt
*.csv
*.pcap
*.log
*.mi2log
*.pkl
*.png
*.jpg
*.jpeg
*.db
*.bak
*.o
*.pyc
__pycache__
.ipynb_checkpoints
.DS_Store
test.ipynb
test.py

!device_to_serial.json
!device_to_port.json
!data encapsulation.png