SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1ET5KB", NAME="ss00"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1ET5KB", NAME="ss00"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1D2MRJ", NAME="ss01"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1D2MRJ", NAME="ss01"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1GCHFV", NAME="ss02"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1GCHFV", NAME="ss02"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1JYYQJ", NAME="ss03"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1JYYQJ", NAME="ss03"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1EV0XH", NAME="ss04"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1EV0XH", NAME="ss04"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6864", ATTRS{serial}=="R5CRA1GBLAZ", NAME="ss05"
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="04e8", ATTRS{idProduct}=="6860", ATTRS{serial}=="R5CRA1GBLAZ", NAME="ss05"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="R5CRA1ESYWM", NAME="ss06"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="R5CRA1ET22M", NAME="ss07"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="R5CRA2EGJ5X", NAME="ss08"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="73e11a9f", NAME="xm00"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="491d5141", NAME="xm01"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="e2df293a", NAME="xm03"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="28636990", NAME="xm04"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="f8fe6582", NAME="xm05"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="d74749ee", NAME="xm06"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="10599c8d", NAME="xm07"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="57f67f91", NAME="xm08"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="232145e8", NAME="xm09"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="70e87dd6", NAME="xm10"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="df7aeaf8", NAME="xm11"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="e8c1eff5", NAME="xm12"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="ec32dc1e", NAME="xm13"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="64545f94", NAME="xm15"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="613a273a", NAME="xm16"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="fe3df56f", NAME="xm17"

